.one {
  font-size: 10px + 10px;
}

.two {
  font-size: 10px - 10px;
}
// 괄호로 묶어야 한다.
.three {
  font-size: (10px / 10px);
}
// 괄호로 묶지 않으면 문자열로 반환된다.
.three-string {
  font-size: 10px / 10;
}
.four {
  font-size: 10px * 10;
}

// error
// .five {
//   font-size: 10px * * 10px;
// }

.six {
  font-size: 10px % 10px;
}

.seven {
  font-size: 10px % 3;
}
