<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <% include ./layout/navbar.ejs %> <% if(true) { %> <%= data %>
    <div>ejs working</div>
    <% } else { %>
    <div>ejs not working</div>
    <% } %>
  </body>
</html>
